<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Usuarios</h1>
    <table border="1px">
        <thead>
            <th>ID</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>Email</th>
            <th>Role</th>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.first_name %></td>
                    <td><%= user.last_name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role.name %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
</body>
</html>