<%- include('partials/head') %>

  <body>
    <!-- Navbar (sit on top) -->
    <%- include('partials/navbar') %>

      <!-- Header -->
      <%- include('partials/header') %>

        <!-- Page content -->
        <div class="ps-content">

          <!-- Menu Section -->
          <div class="ps-row ps-padding-64" id="menu">
            <% if (locals.product) { %>
              <div class="ps-col l6 ps-padding-large">
                <h1 class="ps-center">
                  <%= product.name %>
                </h1>

                <br />
                <h4>
                  <%= product.description %>
                </h4>
                <p class="ps-text-grey">
                  U$S <%= product.price %>
                </p>
              </div>

              <div class="ps-col l6 ps-padding-large ps-img-menu">
                <img src="/images/<%= product.image %>"
                  class="ps-round ps-image ps-opacity-min" alt="Menu" />
              </div>
              <% } else { %>
                <h1>Plato no encontrado!</h1>
                <% } %>
          </div>

          <!-- Footer -->
          <%- include('partials/footer') %>
        </div>
  </body>

  </html>